<h2> Sign Up Below </h2>

<form action='/signup' method='POST'>

  <p>Username: <input type='text' id='username' name='username'></p>
  <p>Password: <input type='text  id='password' name='password'></p>
  <input type='Submit'>

</form>
