<h2> Edit Review </h2>

<form action="/reviews/<%=@review.id%>" method="POST">
   <input id="hidden" type="hidden" name="_method" value="patch">

   Title: <input type='text' name="title" value='<%= @review.title %>'>
   Description: <input type='text' name="description" value='<%= @review.description %>'>
   Rating: <input type='text' name="rating" value='<%= @review.rating %>'>
   <input type="submit" value="Save Review">
</form>

<p><a href='/logout'>Log Out</a></p>
