<h2>Welcome, <%= current_user.username %></h2>

<div>
<% @reviews.each do |review| %>
<p>Title: <%= review.title %></p>
<p>Description: <%= review.description %></p>
<p>Rating: <%= review.rating %></p>
<p> <a href="reviews/ #{review.id} /edit">Edit Review</a> </p>

<br></br>
<% end %>
</div>

<p><a href='reviews/new'>Create a Review</a><p>

<p><a href='/logout'>Log Out</a></p>
