<h1>Welcome, <%= @user.username %>!</h1>

<h2>Your Reviews</h2>

<br></br>

<% @reviews.each do |review| %>

Title: <%= @review.title %>
Description: <%= @review.descripton %>
Rating: <%= @review.rating %>
<% end %>
