<h2> Create A New Review </h2>

<form action="/reviews" method="POST">

   Title: <input type='text' name="title">
   Description: <input type='text' name="description">
   Rating: <input type='text' name="rating">
   <input type="submit" value="Save Review">
</form>

<br></br>

<p><a href='/logout'>Log Out</a></p>
