<h1>Welcome !<h1>

<h2>Your #1 Spot for Honest Restaurant Reviews</h2>


Please <a href'/login'>Log In</a></p>

Username: <input type= 'text' name= "login"</input><br>
Password: <input type= 'text' name= "password"</input><br>
<br></br>
Or <a href'/sign_up'>Sign-Up</a>
