<h1>Foodie Lovers!<h1>

<h2>Your #1 Spot for Honest Restaurant Reviews</h2>



Please
<% if !current_user %>
<p><a href='/login'>Log In</a></p>

Or

<p><a href='/signup'>Sign Up Here</a></p>
<% end %>
